/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.env.example
.phpunit.result.cache
.gitattributes
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
composer.lock
package-lock.json
.styleci.yml
.editorconfig
*.map
*.cache
mix-manifest.json
